*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

img{
    width:400px;
    position: relative;
    
}


a{
    text-decoration: none;
}

/* HEADER */
.nav-header{
    display: flex;
    justify-content: center;
    background-color: orange;
    padding: 10px 0px;
    text-align: center;
}

.logo{
    width: 200px
    ;
}


.container{
    width: 1300px;
    display: flex;
}

.col-4{
    flex-basis: calc(100% / 3);
    
}

.col-6{
    flex-basis: calc(100% / 2);
}

/* MAIN */

main{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-wrap: wrap;
}



.container_bot{
    padding-top: 100px;
}


/* FOOTER */

footer{
    display: flex;
    justify-content: center;
    background-color: gray;
    padding: 30px;
}