*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

img{
    width:400px;
}


a{
    text-decoration: none;
}

/* HEADER */
.nav-header{
    display: flex;
    justify-content: space-between;
    background-color: orange;
    align-items: center;
    padding: 10px 0px;
}

.logo{
    width: 200px
    ;
}


.container{
    width: 1300px;
    display: flex;
    
    
}

.col-4{
    flex-basis: calc(100% / 3);
    text-align: center;
}


/* MAIN */

main{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-wrap: wrap;
}

.container_bot{
    padding-top: 100px;
}